body {
  background-color: #000;
  color: green;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'VT323', cursive; 
}
#log {
  margin-bottom: 100px;
  width: 100%;
}
#log ul {
  padding: 0;
  margin: 0;
}
#log ul li {
  list-style-type: none;
}
#console {
  background-color: black;
  color: white;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 18px;
}
#console input {
  width: 100%;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: green;
}
